.container {
	border-radius: 8px;

	transition: transform 100ms;
	background-color: #f1f1f1;
	cursor: pointer;
}

.container:hover {
	transform: scale(1.01);
}

.container img {
	width: 100%;
	height: auto;
	border-radius: 8px 8px 0 0;
}

.info:first-of-type {
	padding-top: 20px;
}

.info:last-of-type  {
	padding-bottom: 20px;
}

.info {
	color: #222;
	padding: 0 20px;
}

.info label {
	font-weight: bold;
}